@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../../vendor/components/font-awesome/css/all.css';
@import "./fonts/Spartan.css";
@import "./fonts/WorkSans.css";

@mobile: 480px;
@tablet: 640px;
@laptop: 1024px;
@desktop: 1280px;

[x-cloak] {
    display: none !important;
}

h1 {
@apply font-WorkSans-Bold;
    font-size: 26px;
    line-height: 30px;
}

@media (min-width: @tablet) {
    h1 {
        font-size: 32px;
        line-height: 40px;
    }
}

@media (min-width: @laptop) {
    h1 {
        font-size: 44px;
        line-height: 52px;
    }
}

h2 {
@apply font-WorkSans-SemiBold;
    font-size: 18px;
    line-height: 34px;
    color: #414141;
}

@media (min-width: @tablet) {
    h2 {
        font-size: 23px;
        line-height: 40px;
    }
}

@media (min-width: @laptop) {
    h2 {
        font-size: 28px;
        line-height: 34px;
    }
}

#breadcrumbs {
@apply inline-block m-0 p-0;
    margin-top: 25px;
    margin-bottom: 40px;

    li {
    @apply font-Spartan-Regular float-left relative m-0 p-0;
        font-size: 12px;
        color: #31363A;

        a:hover {
        @apply underline;
        }

        &.breadcrumbs-mark {
            padding-left: 35px;

            &::after {
            @apply absolute;
                content: '';
                left: 15px;
                bottom: 7px;
                bottom: 6px;
                width: 5px;
                height: 8px;
                background: transparent url('/resources/images/breadcrumbs-mark.svg') 0 0 no-repeat;
            }
        }

        &.breadcrumbs-mark-white {
            padding-left: 35px;

            &::after {
            @apply absolute;
                content: '';
                left: 15px;
                bottom: 7px;
                bottom: 6px;
                width: 5px;
                height: 8px;
                background: transparent url('/resources/images/breadcrumbs-mark-white.svg') 0 0 no-repeat;
            }
        }
    }
}

.app-project {
    .app-project-about {
    @apply font-Spartan-Regular;
        font-size: 15px;
        line-height: 26px;
        color: #414141;

        p {
            margin-bottom: 25px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .app-project-state {
        .app-project-state-ok {
        @apply text-app-green;
        }

        .app-project-state-no {
        @apply text-app-red;
        }

        .app-project-state-partly {
        @apply text-app-orange;
        }

        .app-project-state-ok,
        .app-project-state-no,
        .app-project-state-partly {
            margin-bottom: 15px;
        }
    }

    .app-project-settings {
        .app-project-default {
            color: #31363A;
            background-color: #F8F8F8;
        }
        .app-project-red {
            @apply text-white bg-app-red;
        }
        .app-project-blue {
            @apply text-white bg-app-blue;
        }
        .app-project-green {
            @apply text-white bg-app-green;
        }
        .app-project-orange {
            @apply text-white bg-app-orange;
        }
    }
}
